<% layout('/layouts/boilerplate') %>

    <div class="row mt-3">

        <div class="alert alert-danger col-6 offset-3" role="alert">
            <p class="alert-heading">
                <%= message %>
            </p>
        </div>
    </div>

    <style>
        /* .show {
        /* display: none; */
        /* color: #0D6EFD; */
        /* } */
        .edit,
        .shows {
            display: none;
        }

        /* .all {
            color: white;
            background-color: #0D6EFD;
        } */

        .link {
            transition: background-color 0.3s, color 0.3s;
            border: 2px solid rgb(97, 88, 88);
            margin-right: 5px;
            border-radius: 10px 10px 10px 10px;
        }

        .link:hover {
            background-color: #0D6EFD;
            color: white;
        }

        footer {
            display: none;
        }
    </style>