/* body {
    background-color: pink;
} */

/* navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.awesome i {
    /* justify-content: left; */
    /* display: inline-block; */
    font-size: 1.75rem;
    color: white;
    /* margin: 2rem; */
    /* padding: 1.5rem 2rem 1.5rem 1rem; */
    /* margin-right: 1rem; */
    /* padding: 0.5rem 0rem 0.5rem 2rem; */
}

.awesome-navbar {

    background-color: #0D6EFD;
}

.awesome {
    padding: 0.5rem;
    border-radius: 25%;
    display: inline-block;
}

.navbar-brand {
    /* font-size: 1.5rem;
    font-weight: bold;
    color: #1428A0; */
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #0D6EFD;
}

.nav-link {
    color: #222222;

}

.link {
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid rgb(97, 88, 88);
    margin-right: 5px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
  }
  .link:hover {
    background-color: #f8f9fa;
  }
  .log {
      color: #842029;
      
    }
    .log:hover {
      color: #842029 !important;
    background-color: #f8d7da !important;
  }


/* Footer */

/* .awesome-footer {
     background-color: #1429a084; 
} */

.f-info-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.f-info-links a {
    color: white;
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}


.f-info {
    background-color: #0D6EFD;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

